[user]
	name = Brian Doherty
	email = bdoherty@hubspot.com
[push]
	default = upstream
[alias]
    lg = log --graph --all --decorate
    branches = for-each-ref --sort=-committerdate --format=\"%(color:blue)%(authordate:relative)\t%(color:red)%(authorname)\t%(color:white)%(color:bold)%(refname:short)\" refs/remotes

[filter "media"]
	required = true
	clean = git media clean %f
	smudge = git media smudge %f

[hub]
protocol = https

[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[pager]
	diff = diff-so-fancy | less --tabs=1,5 -RFX
	show = diff-so-fancy | less --tabs=1,5 -RFX
[core]
	editor = /usr/local/bin/nvim
	hooksPath = /Users/bdoherty/.git_hooks
	excludesFile = /Users/bdoherty/.gitignore
